**House Price Prediction using Linear Regression in Python**

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
import os
os.chdir('D:\SCMA 632\Py\Project_3')

In [30]:
dataset = pd.read_excel("HousePricePrediction.xlsx")

# Printing first 5 records of the dataset
dataset.head(5)

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [31]:
dataset.shape

(2919, 13)

In [32]:
obj = (dataset.dtypes == 'object')
object_cols = list(obj[obj].index)
print("Categorical variables:",len(object_cols))
 
int_ = (dataset.dtypes == 'int')
num_cols = list(int_[int_].index)
print("Integer variables:",len(num_cols))
 
fl = (dataset.dtypes == 'float')
fl_cols = list(fl[fl].index)
print("Float variables:",len(fl_cols))

Categorical variables: 4
Integer variables: 0
Float variables: 3

In [33]:
# Exploratory Data Analysis

In [34]:
dataset.describe()

,Id,MSSubClass,LotArea,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF2,TotalBsmtSF,SalePrice
count,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2918.000000,2918.000000,1460.000000
mean,1459.000000,57.137718,10168.114080,5.564577,1971.312778,1984.264474,49.582248,1051.777587,180921.195890
std,842.787043,42.517628,7886.996359,1.113131,30.291442,20.894344,169.205611,440.766258,79442.502883
min,0.000000,20.000000,1300.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,34900.000000
25%,729.500000,20.000000,7478.000000,5.000000,1953.500000,1965.000000,0.000000,793.000000,129975.000000
50%,1459.000000,50.000000,9453.000000,5.000000,1973.000000,1993.000000,0.000000,989.500000,163000.000000
75%,2188.500000,70.000000,11570.000000,6.000000,2001.000000,2004.000000,0.000000,1302.000000,214000.000000
max,2918.000000,190.000000,215245.000000,9.000000,2010.000000,2010.000000,1526.000000,6110.000000,755000.000000

In [35]:
dataset.isna().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotArea            0
LotConfig          0
BldgType           0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
Exterior1st        1
BsmtFinSF2         1
TotalBsmtSF        1
SalePrice       1459
dtype: int64

In [36]:
dataset['SalePrice'] = dataset['SalePrice'].fillna(dataset['SalePrice'].mean())

In [37]:
dataset.isna().sum()

Id              0
MSSubClass      0
MSZoning        4
LotArea         0
LotConfig       0
BldgType        0
OverallCond     0
YearBuilt       0
YearRemodAdd    0
Exterior1st     1
BsmtFinSF2      1
TotalBsmtSF     1
SalePrice       0
dtype: int64

In [41]:
dataset.drop(['Id'], axis=1, inplace=True)

In [42]:
new_dataset = dataset.dropna()

In [43]:
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2913 entries, 0 to 2918
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MSSubClass    2913 non-null   int64
 1   MSZoning      2913 non-null   object
 2   LotArea       2913 non-null   int64
 3   LotConfig     2913 non-null   object
 4   BldgType      2913 non-null   object
 5   OverallCond   2913 non-null   int64
 6   YearBuilt     2913 non-null   int64
 7   YearRemodAdd  2913 non-null   int64
 8   Exterior1st   2913 non-null   object
 9   BsmtFinSF2    2913 non-null   float64
 10  TotalBsmtSF   2913 non-null   float64
 11  SalePrice     2913 non-null   float64
dtypes: float64(3), int64(5), object(4)
memory usage: 295.9+ KB

In [58]:
df_final = dataset.select_dtypes(include=['int64', 'float64']).dropna()

In [70]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
 
X = df_final.drop(['SalePrice'], axis=1)
Y = df_final['SalePrice']
 
# Split the training set into 
# training and validation set
X_train, X_valid, Y_train, Y_valid = train_test_split(
    X, Y, train_size=0.8, test_size=0.2, random_state=0)

In [79]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import r2_score

model_LR = LinearRegression()
model_LR.fit(X_train, Y_train)
Y_pred = model_LR.predict(X_valid)

print('R-Sqaure :',r2_score(Y_valid, Y_pred))
print('mean_absolute_percentage_error is :',mean_absolute_percentage_error(Y_valid, Y_pred))
print('mean_absolute_error is :',mean_absolute_error(Y_valid, Y_pred))

R-Sqaure : 0.3135017650286015
mean_absolute_percentage_error is : 0.1846545417916881
mean_absolute_error is : 31194.27265365172

In [76]:
# Access the coefficients and intercept
coefficients = model_LR.coef_
intercept = model_LR.intercept_

# Print the coefficients and intercept
print('Coefficients:', coefficients)
print('Intercept:', intercept)

Coefficients: [ 0.00000000e+00  4.63145557e+01  1.11438197e+00  2.49514087e+03
  2.94711601e+02  4.46205324e+02 -9.92944977e+00  3.79517315e+01]
Intercept: -1352752.720116114

In [78]:
import statsmodels.api as sm 

# Create a linear regression model using statsmodels
model = sm.OLS(Y_train, X_train)

# Fit the model
results = model.fit()

# Print the summary
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.271
Model:                            OLS   Adj. R-squared:                  0.269
Method:                 Least Squares   F-statistic:                     123.3
Date:                Mon, 29 Jan 2024   Prob (F-statistic):          1.88e-154
Time:                        18:01:38   Log-Likelihood:                -28505.
No. Observations:                2334   AIC:                         5.703e+04
Df Residuals:                    2326   BIC:                         5.707e+04
Df Model:                           7
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -1.353e+06   1.03e+05    -13.089      0.000   -1.56e+06   -1.15e+06
MSSubClass      46.3146     24.669      1.877      0.061      -2.060      94.689
LotArea          1.1144      0.126      8.866      0.000       0.868       1.361
OverallCond   2495.1409   1058.182      2.358      0.018     420.063    4570.219
YearBuilt      294.7116     49.891      5.907      0.000     196.877     392.547
YearRemodAdd   446.2053     66.552      6.705      0.000     315.698     576.712
BsmtFinSF2      -9.9294      6.151     -1.614      0.107     -21.991       2.132
TotalBsmtSF     37.9517      2.716     13.972      0.000      32.625      43.278
==============================================================================
Omnibus:                     1374.622   Durbin-Watson:                   1.980
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            26915.782
Skew:                           2.391   Prob(JB):                         0.00
Kurtosis:                      18.934   Cond. No.                     1.37e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.37e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

OneHotEncoder – For Label categorical features
One hot Encoding is the best way to convert categorical data into binary vectors. This maps the values to integer values. By using OneHotEncoder, we can easily convert object data into int. So for that, firstly we have to collect all the features which have the object datatype. To do so, we will make a loop.

In [ ]:
from sklearn.preprocessing import OneHotEncoder
 
s = (new_dataset.dtypes == 'object')
object_cols = list(s[s].index)
print("Categorical variables:")
print(object_cols)
print('No. of. categorical features: ', 
      len(object_cols))

In [ ]:
OH_encoder = OneHotEncoder(sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(new_dataset[object_cols]))
OH_cols.index = new_dataset.index
OH_cols.columns = OH_encoder.get_feature_names()
df_final = new_dataset.drop(object_cols, axis=1)
df_final = pd.concat([df_final, OH_cols], axis=1)